cffi==1.10.0
cvxopt==1.1.9
intervaltree==2.1.0
IsoSpecPy==1.0.3
Jinja2==2.9.6
linearCounter==0.23
lxml==3.8.0
matplotlib==2.0.2
networkx==1.11
numpy==1.13.0
pandas==0.20.2
pyinterval==1.2.0
pyparsing==2.2.0
pyteomics==3.4.2
python-dateutil==2.6.0
python-highcharts==0.3.1
scipy==0.19.1
