cffi==1.10.0
crlibm==1.0.3
cvxopt==1.1.9
cycler==0.10.0
decorator==4.0.11
functools32==3.2.3.post2
future==0.16.0
intervaltree==2.1.0
IsoSpecPy==1.0.3
Jinja2==2.9.6
linearCounter==0.23
lxml==3.8.0
MarkupSafe==1.0
matplotlib==2.0.2
networkx==1.11
numpy==1.13.0
pandas==0.20.2
patsy==0.4.1
pycparser==2.17
pyinterval==1.2.0
pyparsing==2.2.0
pyteomics==3.4.2
python-dateutil==2.6.0
python-highcharts==0.3.1
pytz==2017.2
scipy==0.19.1
six==1.10.0
sortedcontainers==1.5.7
subprocess32==3.2.7
